* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

form {
    display: flex;
    gap: 10px;
}

form input {
    width: 80px;
    height: 25px;
}

#pay {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

button {
    width: 80px;
}

#show-button {
    width: 100px;
}

#purchases {
    display: none;
}

table {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

tr {
    display: flex;
    gap: 4px;
}

.del-but {
    height: 20px;
    width: 20px;
    margin-left: 15px;
    border-radius: 50%;
    background-color: red;
}

#auth-form {
    display: none;
}